@import "tailwindcss";
@source "../../../../packages/ui/src";
@import "../../../../packages/ui/src/styles/theme.css";

:root {
  --background: var(--color-bg-canvas);
  --foreground: var(--color-black);
}

body {
  background-color: var(--color-bg-canvas);
  color: var(--color-black);
}
